@import url(https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css);
@import url(https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 슈트 폰트 적용 */
body {
  font-family:'SUIT', sans-serif;
}
.roboto{
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 16px;
}
.inner {
  @media (min-width: 1360px) {
      padding: 0;
  }
}