@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-900;
}
.swiper_contents{
    @apply flex flex-col absolute top-1/2 -translate-y-1/2 left-0 z-20 px-[3rem] sm:px-[4rem] lg:px-[6rem] h-full items-center justify-center bottom-0
}
.swiper_container{
    @apply w-full relative h-[16rem] sm:h-[20rem] lg:h-[25rem] border border-gray-800 rounded-sm
}
.swiper-dim{
    @apply flex justify-between absolute inset-0 bg-[#0D0F18] opacity-40 z-10
}
.input-st{
    @apply border border-gray-200 w-full px-4 py-2.5 rounded-md
}
.inner {
    @apply w-full max-w-[1280px] px-5 sm:px-[4%] xl:px-[3rem] xl:mx-[auto]
}